* {
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(13, 31%, 94%);
    height: 100vh;
    font-size: x-small;
}

#main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

#title{
    align-self: center;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px 0;
}

#products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 70%;
    max-width: 1000px;
    height: 90vh;
}

aside{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
    height: fit-content;
    margin-right: 40px;
    justify-content: center;
}

img{
    width: 100%;
    border-radius: 10px;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
}

.product{
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}

.product div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.product div button:nth-child(2){
    margin-top: -10px;
    display: flex;
    flex-direction: row;
}

.product div button img{
    width: 15px;
    margin-right: 10px;
}
button{
    align-self: center;
    justify-self: center;
    place-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    border: 1px solid hsl(7, 20%, 60%);
}

button:hover{
    cursor: pointer;
    color: hsl(14, 86%, 42%);
}

h3{
    color: hsl(14, 86%, 42%);
}

h4{
    color: hsl(14, 25%, 72%);
}

#cart{
    align-self: flex-start;
}



.quantity-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
}
.oculto {
    display: none;
}

.details{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.prices{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

#order-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#order-total p{
    margin: 0;
}

#carbon-neutral{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(13, 31%, 94%);
    border-radius: 10px;
}

#carbon-neutral img{
    width: 20px;
    margin-right: 10px;
}

#order-container button{
    width: 100%;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    margin-top: 20px;
}

#order-container button:hover{
    background-color: hsl(14, 86%, 32%);
    cursor: pointer;
}

#order-container{
    display: none;
}