* {
    box-sizing: border-box;
}
body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(13, 31%, 94%);
    height: 100vh;
    font-size: x-small;
}

#main-container{
    display: flex;
    gap: 20px;
    width: 100%;
}

#title{
    align-self: flex-start;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    margin: 20px;
    margin-left: 10%;
}

#products-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    gap: 20px;
    width: 100%;
    max-width: 1000px;
    height: 100%;
}


aside{
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    background-color: white;
    border-radius: 10px;
    margin-left: 20px;
    padding: 20px;
    height: fit-content;
    margin-right: 40px;
    justify-content: center;
    margin-top: 20px;
    position: fixed;
}

img{
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    margin-top: 4px;
}

.product{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    max-width: 100%;
}

.product div:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}
.product div button:nth-child(2){
    margin-top: -10px;
    display: flex;
    flex-direction: row;
}

.product div button img{
    width: 15px;
    margin-right: 10px;
}
button{
    align-self: center;
    justify-self: center;
    place-self: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    height: 30px;
    border: 1px solid hsl(7, 20%, 60%);
}

button:hover{
    cursor: pointer;
    color: hsl(14, 86%, 42%);
}

h3{
    color: hsl(14, 86%, 42%);
}

h4{
    color: hsl(14, 25%, 72%);
}

#cart{
    align-self: flex-start;
    margin-bottom: 20px;
    color: hsl(14, 86%, 42%);
}



.quantity-controls {
    margin-top: -10px;
    height: 30px;
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: hsl(14, 86%, 42%);
    border-radius: 30px;
    color: hsl(13, 31%, 94%);
}

.crement-button {
    background-color: hsl(14, 86%, 42%);
    height: 25px;
    width: 25px;
    border: 1px solid hsl(20, 50%, 98%);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
}

.crement-button img{
    margin-left: 10px;
}
.oculto {
    display: none;
}

.details{
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.paragraph-details{
    width: 40%;
}

.paragraph-details h4{
    color: black;
}

.paragraph-details p:nth-child(1){
    color: hsl(14, 86%, 42%) ;
}

.paragraph-details p:nth-child(2){
    color: hsl(14, 25%, 72%);
}

.paragraph-details p:nth-child(3){
    color: hsl(12, 20%, 44%);
}

.prices{
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
}


#carbon-neutral{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: hsl(13, 31%, 94%);
    border-radius: 10px;
}

#carbon-neutral img{
    width: 20px;
    margin-right: 10px;
}

.last-button{
    width: 100%;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: none;
    margin-top: 20px;
}

.last-button:hover{
    background-color: hsl(14, 86%, 32%);
    cursor: pointer;
    color: white;
}

#order-container{
    display: none;
}

#cart-container{
    width: 100%;
}

.delete{
    background-color: white;
    border-radius: 100%;
    border: 1px solid hsl(7, 20%, 60%);
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.delete:hover{
    border: 1px solid hsl(12, 20%, 44%);
}

section{
    position: fixed;
    padding: 20px;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 50%;
    background-color: white;
    border-radius: 10px;
    z-index: 2;
}

section img{
    height: 20px;
    width: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}

section h1{
    margin-bottom: 10px;
}
section h4{
    margin-bottom: 14px;
}

.confirmed-total{
    background-color: hsl(13, 31%, 94%);
    margin: 10px 0 10px 0;
    padding: 5%;
    border-radius: 10px;
}

#background{
    background-color: black;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.5;
}

.ocult-confirm{
    display: none;
}

.food-detail{
    display: flex;
    height: 40px;
    background-color: hsl(13, 31%, 94%);
    gap: 10px;
}

.food-detail img{
    height: 100%;
    width: auto;
    border-radius: 5px;
}

.food-detail b{
    align-self: center;
    font-size: small;
    margin-left: 54px;
}

#food-details{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 10px 10px 0 0;
    padding: 5%;
    background-color: hsl(13, 31%, 94%);
}

.order-total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.order-total p{
    margin: 0;
    align-self: center;
    font-size: 11px;
}

.order-total b{
    font-size: 18px;
}
